.landing
  %p.lead A reusable guide for people wanting to
  %p.example
    %span.symbol>< http://
    %span.phrase>< securely
    %span.symbol>< .
    %span.phrase>< email
    %span.symbol>< /
    %span.phrase.subject>< you
  %p.coming May 2014
