!!!
%html.landing
  %head
    %meta{name: 'viewport', content: 'width=480'}

    %title securely.email - A reusable guide for people wanting to securely.email/you
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:300,400'
    = stylesheet_link_tag 'application', media: 'all'
  %body
    = yield
