!!!
%html.landing
  %head
    %title securely.email - A reusable guide for people wanting to securely.email/you
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:300,400'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    = yield
